Source: swaylock-effects
Section: x11
Priority: optional
Maintainer: Aleksey Samoilov <samoilov.lex@gmail.com>
Build-Depends: debhelper (>= 9),
                              meson,
                              git,
                              cmake,
                              libwlroots-dev,
                              libwayland-dev,
                              libxkbcommon-dev,
                              libcairo2-dev,
                              libgdk-pixbuf2.0-dev,
                              libpam0g-dev,
                              libpango1.0-dev,
                              scdoc,
                              wayland-protocols
Standards-Version: 3.9.8
Homepage: https://github.com/swaywm/swaylock

Package: swaylock-effects
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: swaylock
Description: swaylock-effects is fork of swaylock. A screen locking utility for Wayland compositors with clock and fancy effects.
